@model TP3_KVGN.Models.mode_paiement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mode_paiement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_mode_paiement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
